# {{ ansible_managed }}

[Unit]
Description="{{ item.value.description }}"
Documentation="https://github.com/coopsymbiotic/coopsymbiotic-ansible/tree/master/roles/aegir"
Wants=aegir_extra_{{ item.key }}.timer

[Service]
User={{ item.value.user }}
{% if item.value.working_directory %}
WorkingDirectory={{ item.value.working_directory }}
{% endif %}
{% if item.value.exec_pre is defined %}
ExecStartPre={{ item.value.exec_pre }}
{% endif %}
ExecStart={{ item.value.exec }}
{% if item.value.exec_post is defined %}
ExecStartPost={{ item.value.exec_post }}
{% endif %}
