# {{ ansible_managed }}

[Unit]
Description=Aegir hosting-queued
After=mariadb.service

[Service]
User=aegir
ExecStart=/usr/local/bin/drush --quiet @hostmaster hosting-queued
Restart=always
RestartSec=30
LimitNICE=10

[Install]
WantedBy=multi-user.target
