# {{ ansible_managed }}

[Unit]
Description=Loki
After=network.target

# FIXME Run as non-root?
[Service]
User=root
ExecStart=/usr/local/bin/loki -config.file /etc/loki.yaml
WorkingDirectory=/
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
