---

- name: Force gathering facts for partial ansible runs
  setup:
  tags:
    - common-all
    - common-all-sshd
    - common-all-aptconf

# We deploy our sources.list to include "contrib"
- name: common-all | Deploy apt sources.list
  template: src=etc/apt/sources.list dest=/etc/apt/sources.list owner=root group=root mode=0644
  when: ansible_distribution == "Debian"
  tags:
    - common-all
    - common-all-aptconf

- name: common-all | Deploy apt 80symbiotic customizations
  template: src=etc/apt/apt.conf.d/80symbiotic dest=/etc/apt/apt.conf.d/80symbiotic owner=root group=root mode=0644
  when: ansible_distribution == "Debian"
  tags:
    - common-all
    - common-all-aptconf

- apt: update_cache=yes
  tags:
    - packages
    - common-all

- apt:
    state: present
    install_recommends: no
    name: [
      'apt-transport-https',
      'ca-certificates',
      'curl',
      'etckeeper',
      'gawk',
      'git',
      'gpg',
      'gpg-agent',
      'less',
      'ncdu',
      'systemd-timesyncd',
      'tmux',
      'tree',
      'unzip',
      'vim',
      'vnstat',
      'wget',
      'xz-utils'
    ]
  tags:
    - packages
    - common-all

# KVM servers run openntpd; usually not recommended to install both.
# @todo we can probably remove this in favour of systemd-timesyncd
- apt: name="ntpdate" state=present install_recommends=no
  when: "'kvm_servers' not in group_names"
  tags:
    - packages
    - common-all

- name: sysctl | Deploy custom sysctl settings
  template: src=etc/sysctl.d/95-symbiotic.conf dest=/etc/sysctl.d/95-symbiotic.conf owner=root group=root mode=0644
  notify: refresh sysctl
  tags:
    - common-all
    - common-all-sysctl

- name: common | Deploy keyboard default conf
  template: src=etc/default/keyboard dest=/etc/default/keyboard owner=root group=root mode=0644
  tags:
    - common-all

- name: network | Deploy IPv4 configuration
  template: src=etc/network/interfaces dest=/etc/network/interfaces owner=root group=root mode=0644
  when: preseed_ipv4_address is defined
  tags:
    - common-all
    - common-all-ipv4

- name: network | Deploy IPv6 configuration script
  template: src=etc/network/if-up.d/symbiotic-ipv6 dest=/etc/network/if-up.d/symbiotic-ipv6 owner=root group=root mode=0755
  when: preseed_ipv6_address is defined
  tags:
    - common-all
    - common-all-ipv6

- name: common-all | Remove initramfs resume because we often do not have swap and VMs are never paused
  file:
    path: "/etc/initramfs-tools/conf.d/resume"
    state: absent
  tags:
    - common-all
    - common-all-initramfs

# Todo: use /etc/ssh/sshd_config.d/ (available since Debian bullseye)
- name: common-all | Deploy our sshd_config
  template:
    src: "etc/ssh/sshd_config-{{ ansible_distribution_major_version }}-{{ ansible_distribution_release }}"
    dest: /etc/ssh/sshd_config
    owner: "root"
    group: "root"
    mode: 0644
  notify: restart sshd
  tags:
    - common-all
    - common-all-sshd

- name: common-all | Deploy our sshd_config.d
  template:
    src: "etc/ssh/sshd_config.d-{{ ansible_distribution_major_version }}-{{ ansible_distribution_release }}/symbiotic.conf"
    dest: /etc/ssh/sshd_config.d/symbiotic.conf
    owner: "root"
    group: "root"
    mode: 0644
  notify: restart sshd
  tags:
    - common-all
    - common-all-sshd

# Requires: 'apt install figlet' on the Ansible host
- name: common-all | Generate banner for motd
  command: "figlet {{ inventory_hostname_short }}"
  delegate_to: 127.0.0.1
  become: false
  register: motd_banner_hostname
  tags:
    - common-all
    - common-all-motd

- name: common-all | Create the motd
  template:
    src: etc/motd
    dest: /etc/motd
    owner: "root"
    group: "root"
    mode: 0644
  tags:
    - common-all
    - common-all-motd
