# {{ ansible_managed }}

[mysqld]
table_cache            = 8192
open_files_limit       = 25000

tmp_table_size  = 512M
max_heap_table_size = 512M

innodb_file_per_table=true
# @todo Make configurable if dedicated MySQL server
innodb_buffer_pool_size = {{ (ansible_memtotal_mb/1024/4)|round|int }}G
innodb_buffer_pool_instances = 1

join_buffer_size = 512K

# http://www.mysqlperformanceblog.com/2007/11/03/choosing-innodb_buffer_pool_size/
innodb_flush_method=O_DIRECT

# MariaDB 10.1.7 disables the query cache
# and does not make much sense for a shared server
# and CiviCRM in general is very DB-heavy, not cache-friendly.
query_cache_size = 0
query_cache_type = 0

slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 5.0

# https://mariadb.com/kb/en/mariadb/server-system-variables/#max_statement_time
# Maximum time in seconds that a query can execute before being aborted.
# This includes all queries, not just SELECT statements, but excludes statements in stored procedures.
#
# NB: 360 seconds (6 mins) is a really long time for a query, but some reports
# or exports can be very slow.
max_statement_time = 360

# https://dev.mysql.com/doc/refman/5.7/en/stored-programs-logging.html
log_bin_trust_function_creators=1

# [ML] Since MariaDB 10.2, sql-mode also includes: STRICT_TRANS_TABLES
# but this is a bit too brutal for legacy code.
# https://mariadb.com/kb/en/library/sql-mode/
sql-mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"

# [ML] Some clients use this for imports (required for MariaDB 10.3)
local-infile=1

# For when MySQL data dir is on its own partition
ignore-db-dir=lost+found

# For Icinga monitoring
# Allows passwordless auth for the root user
plugin-load-add = auth_socket.so

{% if groups['sql_servers'] is defined or groups['sql_replication_servers'] is defined %}
# Assumed to be a separate zfs volume (partition) for easier resync
datadir = /data/mysql
log_bin = /data/mysql/mysql-bin.log
{% endif %}
