# {{ ansible_managed }}

[Unit]
Description="{{ item.value.description }}"
Requires=civicrm_{{ item.key }}_{{ inventory_hostname_short | replace("-", "_") }}.service

[Timer]
Unit=civicrm_{{ item.key }}_{{ inventory_hostname_short | replace("-", "_") }}.service
{% if item.value.on_calendar is defined %}
OnCalendar="{{ item.value.on_calendar }}
{% endif %}
{% if item.value.on_unit_inactive_sec is defined %}
OnUnitInactiveSec={{ item.value.on_unit_inactive_sec }}
{% endif %}
{% if item.value.randomized_delay_sec is defined %}
RandomizedDelaySec={{ item.value.randomized_delay_sec }}
{% endif %}
{% if item.value.accuracy_sec is defined %}
AccuracySec={{ item.value.accuracy_sec }}
{% endif %}

[Install]
WantedBy=timers.target
