# {{ ansible_managed }}

[Unit]
Description="{{ item.value.description }}"
Documentation="https://github.com/coopsymbiotic/coopsymbiotic-ansible/tree/master/roles/civicrm-sites"
Wants=civicrm_{{ item.key }}_{{ inventory_hostname_short | replace("-", "_") }}.timer

[Service]
User={{ item.value.user }}
ExecStart={{ item.value.exec }}
