# {{ ansible_managed }}

[Unit]
Description="D7-CiviCRM Cron for {{ inventory_hostname }}"
Documentation="https://github.com/coopsymbiotic/coopsymbiotic-ansible/tree/master/roles/civicrm-sites"
Wants=d7civicron_{{ site_shortname }}.timer

[Service]
User=www-data
WorkingDirectory={{ site_path }}
Environment="CIVICRM_SETTINGS="{{ site_path }}/civicrm.settings.php"
ExecStart=/usr/local/bin/aegir-getlock /usr/local/bin/cv api Job.execute --user={{ cron_user }}
