# {{ ansible_managed }}

[Unit]
Description="D7-CiviCRM Cron for {{ inventory_hostname }}"
Documentation="https://github.com/coopsymbiotic/coopsymbiotic-ansible/tree/master/roles/civicrm-sites"
Wants=d7civicron_{{ site_shortname }}.timer

[Service]
User=aegir
ExecStartPre=/usr/local/bin/drush cc drush
ExecStart=/usr/local/bin/aegir-getlock /usr/local/bin/drush --user="{{ civicrm_ansible_cron_user }}" @{{ inventory_hostname }} cvapi Job.execute auth=0
