# {{ ansible_managed }}

[Unit]
Description="WP-CiviCRM Cron for {{ inventory_hostname }}"
Documentation="https://github.com/coopsymbiotic/coopsymbiotic-ansible/tree/master/roles/civicrm-sites"
Wants=wpcivicron_{{ site_shortname }}.timer

[Service]
User=aegir
WorkingDirectory={{ site_path }}
Environment="CIVICRM_SETTINGS=wp-content/uploads/civicrm/civicrm.settings.php"
ExecStart=/usr/local/bin/aegir-getlock /usr/local/bin/cv api Job.execute --user={{ cron_user }}
