# {{ ansible_managed }}

[Unit]
Description="WP-CiviCRM Cron for {{ inventory_hostname }}"
Documentation="https://github.com/coopsymbiotic/coopsymbiotic-ansible/tree/master/roles/civicrm-sites"
Wants=wpcivicron_{{ site_shortname }}.timer

[Service]
User=aegir
ExecStartPre=/usr/local/bin/drush cc drush
ExecStart=/usr/local/bin/drush @{{ inventory_hostname }} wp civicrm api Job.execute --user={{ cron_user }}
