# {{ ansible_managed }}

[Unit]
Description="WP-Core Cron for {{ inventory_hostname }}"
Requires=wpcorecron_{{ site_shortname }}.service

[Timer]
Unit=wpcorecron_{{ site_shortname }}.service
OnUnitInactiveSec={{ civicrm_ansible_cron_interval }}sec
OnBootSec=10min
RandomizedDelaySec=30sec

[Install]
WantedBy=timers.target
