# {{ ansible_managed }}

[Unit]
Description="WP-Core Cron for {{ inventory_hostname }}"
Documentation="https://github.com/coopsymbiotic/coopsymbiotic-ansible/tree/master/roles/civicrm-sites"
Wants=wpcorecron_{{ site_shortname }}.timer

[Service]
User=www-data
WorkingDirectory={{ site_path }}
ExecStart=/usr/local/bin/aegir-getlock wp cron event run --due-now
